<!-- Footer -->




<footer class="page-footer font-small pt-4 myfooter">

 
  <div class="container text-center text-md-left myfooter">
   
    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">
            <img src="images/footer_logo.png"><br>
                        <span class="footer-logo-text text-green mylogo">kabadi</span>
        <!-- Content -->
        <span class="font-weight-bold">Office Address</span><br>
                    <span class=" text-color-light">
                        The kabadi, 1rd Floor, Gandharnagar<br>
                        Zone-1,Ranchi,<br>
                        Jharkhand - 834003
                    </span><br>
                    <span class="font-weight-bold">
                        8804665190
                    </span>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
     
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
     
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
   
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <hr>
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fa fa-facebook-square"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fa fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fa fa-google-plus" > </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fa fa-linkedin"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fa fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> kabadi.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->